.feed-elem {
    padding: 15px;
    height: 100%;
}

.qa-line {
    width: 100px;
    left: 15px;
    border-style: dotted;
    position: absolute;
    display: relative;
}

.tank {
    display: inline-block;
    position: relative;
    height: 30px;
    width: 100%;
    border: 1px solid black;
}

.tank .label {
    padding:4px;
    display: relative;
    position: absolute;
    left:0px;
    right:0px;
    padding:4px;
}

.tank .liquid {
  transition: width 0.5s;
  display: relative;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 100%;
  width: 0%;
  background: lightskyblue;
}

.feed.container {
  padding: 0;
}

.numerical {
  color: lightskyblue;
}

.sentence:hover {
  background: rgba(17, 146, 252, 0.1);
  cursor: pointer;
}

.stacked_words {
  position: relative;
  display: inline-block;
  text-align: center;
}

.stacked_words > span {
  float: left;
  clear: left;
}

.stacked_words .lower {
  font-size: 10px;
}
